[submodule "cpputest"]
	path = cpputest
	url = https://github.com/cpputest/cpputest
[submodule "examples/arduino/Arduino-CMake-Toolchain"]
	path = Arduino-CMake-Toolchain
	url = https://github.com/a9183756-gh/Arduino-CMake-Toolchain
